<app-detail-page
            detail_title={{detail_data.data.startup_name}}
            description={{detail_data.data.startups_description}}
            industry={{detail_data.data.startup_industry}}
            location={{detail_data.data.startup_location}}
            founded_in={{detail_data.data.founded_in}}
            company_website={{detail_data.data.startup_website_url}}
            company_email={{detail_data.data.startup_email}}
            company_phone_number={{detail_data.data.startup_phone_number}}
            [founders]=founders
            ></app-detail-page>