
<div class="login-section-layout flex-center">
    <div class="login-container">
        <h2>Reset Password </h2>
        <form>
            <div class="form-group">
                <label for="username">Password</label>
                <input type="text" class="form-control" id="username" placeholder="Enter a password">
            </div>

            <div class="form-group">
                <label for="username">Confirm Password</label>
                <input type="text" class="form-control" id="username" placeholder="Confirm password">
            </div>
            
            <button type="submit" class="btn btn-block" (click)="reset('')">
                <span *ngIf="!loader">Recover</span>
                <span *ngIf="loader"><app-loader></app-loader></span>
            </button>
        </form>
        <div class="forgot-password">
            <a>Login</a>
        </div>
    </div>

   </div>
