
<div class="login-section-layout flex-center">
    <div class="login-container">
        <h2>Forgot Password </h2>
        <form>
            <div class="form-group">
                <label for="username">email</label>
                <input type="text" class="form-control" id="username" placeholder="Enter your email">
            </div>
            
            <button type="submit" class="btn btn-block" (click)="recover('')">
                <span *ngIf="!loader">Recover</span>
                <span *ngIf="loader"><app-loader></app-loader></span>
            </button>
        </form>
        <div class="forgot-password">
            <a>Login</a>
        </div>
    </div>

   </div>
